/* Color Palette */
/* http://flatuicolors.com/ */
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  margin-top: 0;
  margin-bottom: .5rem;
  font-weightt: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: '' Open Sans '', sans-serif;
  margin-top: 0;
  margin-bottom: .5rem;
  font-weightt: 300;
}
h1 {
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}
h2 {
  font-size: 36px;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}
h3 {
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}
h4 {
  font-size: 24px;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}
h5 {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}
h6 {
  font-size: 10px;
  line-height: 1.6;
  letter-spacing: 0;
}
.validation-fonts {
  color: #d9534f;
  font-weight: bold;
}
.table-font {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 15px;
}
.raleway {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-heighttt: 38px;
  letter-spacing: .0rem;
  text-transform: uppercase;
  color: #4d4d4d;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
/* Larger than phablet */
/*@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}*/
p {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 10px;
  color: black;
}
.link-font {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-heighttt: 38px;
  letter-spacing: .0rem;
  text-transform: uppercase;
  color: #4d4d4d;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
.modern {
  font-family: 'Raleway', sans-serif;
  text-alignn: center;
  font-size: 12px;
  font-weight: 600;
  line-heighttt: 38px;
  letter-spacing: .0rem;
  text-transformm: uppercase;
  color: #4d4d4d;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
.form-font {
  color: #4d4d4d;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.button-font {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-heighttt: 38px;
  letter-spacing: .0rem;
  text-transform: uppercase;
  color: #4d4d4d;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
  font-weight: 500;
  letter-spacing: .1rem;
}
.button-oversized {
  height: 50px;
  width: 240px;
  font-size: 14px;
}
/*font-family: 'Raleway', sans-serif;*/
/* http://stackoverflow.com/questions/17218891/getting-different-figure-types-with-google-web-fonts */
/* ensure that numbers are on a line (not bouncy) */
.lnum {
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
textarea,
input {
  color: #4d4d4d;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
/*variables*/
/* for the sticky footer */
/*mixins*/
.column-margins {
  background-color: bluee;
  margin: 0 1%;
  float: left;
}
/* Forms */
input {
  width: 170px;
  width: 85%;
  height: 32px;
  border: 1px solid #cccccc;
  margin-below: 20px;
  padding-left: 5%;
  padding-left: 0pxx;
  margin-top: 4px;
}
textarea {
  width: 170px;
  width: 90%;
  height: 100px;
  border: 1px solid #cccccc;
  margin-below: 20px;
  padding-left: 2%;
  margin-top: 4px;
  padding-top: 5px;
}
label {
  margin-left: 5px;
  font-family: 'Raleway', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
/* BUTTONS */
/* https://github.com/dhg/Skeleton */
/* Skeleton framework is used for Buttons */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-heighttt: 38px;
  letter-spacing: .0rem;
  text-transform: uppercase;
  color: #4d4d4d;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
  font-weight: 500;
  letter-spacing: .1rem;
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 0px;
  /* this makes the edges square or rounded */
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #c42056;
  /* outline color on hover*/
  border-color: #333;
  outline: 1;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  background-color: #c42056;
  border-color: #c42056;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #3498db;
  /* hover color */
  border-color: #3498db;
}
table {
  borderr: 1px solid #ccc;
  border-top: 1px solid;
  border-color: #e0e0e0;
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table tr {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 5px;
}
table th,
table td {
  padding: 10pxx;
  padding: 14px 10px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 15px;
  text-align: left;
}
table th {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 15px;
  font-size: 14px;
  text-align: left;
  padding-top: 12pxx;
  padding-bottom: 12pxx;
}
table caption {
  color: #4d4d4d;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 10px;
}
.main-rate {
  font-weight: bold;
}
/* body elements */
html {
  min-height: 100%;
  position: relative;
}
body {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 310px;
}
/*Alternate to "overflow:auto". Needed anytime a parent container houses divs which float. Otherwise the parent collapses and divs overflow.*/
.u-float {
  content: "";
  display: table;
  clear: both;
}
.container {
  margin: 0 auto;
  /*overflow: auto; */
}
.container-fixed {
  margin: 0 auto;
  /*overflow: auto; */
  max-width: 1140px;
}
.container-wide {
  margin: 0 auto;
  /*overflow: auto; */
  width: 100%;
  border: 0px solid green;
}
/*Alternate to "overflow:auto". Needed anytime a parent container houses divs which float. Otherwise the parent collapses and divs overflow.*/
.container-fixed:after {
  content: "";
  display: table;
  clear: both;
}
.container-wide:after {
  content: "";
  display: table;
  clear: both;
}
/* Navbar -------------------- */
/* http://www.w3schools.com/css/css_navbar.asp */
#logo {
  float: left;
  width: 150px;
  height: 50px;
}
#logo-section {
  width: 31.33333333%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
}
#links-section {
  width: 64.66666667%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
}
#navbar {
  margin: 0 auto;
  /*overflow: auto; */
  width: 100%;
  border: 0px solid green;
  background-color: white;
  height: 75px;
  border-bottom: 1px solid #e6e6e6;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-heighttt: 38px;
  letter-spacing: .0rem;
  text-transform: uppercase;
  color: #4d4d4d;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  display: block;
  float: right;
  font-weight: 800;
  font-size: 14px;
}
#navbar li {
  float: left;
  height: 75px;
  line-height: 75px;
  /*This method relies on you setting the line-height as a value greater than the font-size. */
}
#navbar ul a {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-heighttt: 38px;
  letter-spacing: .0rem;
  text-transform: uppercase;
  color: #4d4d4d;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
#navbar ul a:hover {
  background-color: #e6e6e6;
  background-color: #f7f7f7;
}
#navbar ul a#navbar_button:hover {
  background-color: transparent;
}
#navbar ul a.ph-call,
ul a.ph-call:hover,
ul a.ph-call:active {
  font-size: 13px;
  font-weight: 800;
  background-color: transparent;
}
#navbar button {
  margin-left: 20px;
  margin-right: 10px;
}
#navicon {
  display: none;
  font-size: 28px;
  color: #4d4d4d;
  line-height: 75px;
}
#number {
  font-weight: 800;
  color: red;
}
#logo {
  height: 30px;
  width: auto;
  vertical-align: middle;
  margin-top: 22.5px;
  margin-left: 20px;
}
#telephone {
  height: 20px;
  width: auto;
  margin-right: 6px;
  margin-left: 0px;
  border: 0px solid red;
  padding: 26px 0;
  float: left;
  border-left: 1px solid #e6e6e6;
  padding-left: 20px;
}
/* Hero section ----------------------*/
.hero {
  margin: 0 auto;
  /*overflow: auto; */
  width: 100%;
  border: 0px solid green;
  background-image: url(../images/bankers.jpg);
  height: 500px;
  padding-top: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  content: "";
  display: table;
  clear: both;
}
.hero h1 {
  text-align: center;
  color: white;
  font-size: 74px;
  font-weight: normal;
}
.hero h4 {
  text-align: center;
  color: #999999;
  font-size: 32px;
  font-weight: normal;
}
.hero button {
  margin: 0 auto;
  display: block;
  text-align: center;
  height: 50px;
  width: 240px;
  font-size: 14px;
  margin-top: 60px;
  color: #999999;
  font-weight: normal;
}
.hero button:hover {
  margin: 0 auto;
  display: block;
  text-align: center;
  height: 50px;
  width: 240px;
  font-size: 14px;
  margin-top: 60px;
  color: white;
  border-color: #3498db;
  background-color: #3498db;
  border-color: white;
  background-color: transparent;
  font-weight: normal;
}
.hero a {
  text-decoration: none;
}
/* features */
.main-features {
  margin: 0 auto;
  /*overflow: auto; */
  width: 100%;
  border: 0px solid green;
  height: 340px;
  background-color: #f7f7f7;
}
#feature-section {
  margin: 0 auto;
  /*overflow: auto; */
  max-width: 1140px;
  padding-top: 40px;
}
#feature-section h3 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  line-heighttt: 38px;
  letter-spacing: .0rem;
  text-transform: uppercasee;
  color: #4d4d4d;
  color: black;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
#feature-section p {
  text-align: center;
  color: #999999;
  margin-bottom: 30px;
}
#feature-section a {
  color: #3498db;
  font-size: 14px;
}
.feature-block {
  width: 31.33333333%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
  text-align: center;
  margin-top: 40px;
}
.fa-money,
.fa-building,
.fa-home {
  color: #4d4d4d;
}
.feature-block h4 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  line-heighttt: 38px;
  letter-spacing: .0rem;
  text-transform: uppercasee;
  color: #4d4d4d;
  color: black;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
  margin-top: 20px;
}
/* bullets */
#bullet-container {
  margin: 0 auto;
  /*overflow: auto; */
  width: 100%;
  border: 0px solid green;
  /*background-color: @super-light;*/
  padding-top: 60px;
  padding-bottom: 60px;
}
#bullet-section {
  margin: 0 auto;
  /*overflow: auto; */
  max-width: 1140px;
}
.bulletbox {
  width: 48%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
  margin-bottom: 60px;
}
.bulletbox h4 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  line-heighttt: 38px;
  letter-spacing: .0rem;
  text-transform: uppercasee;
  color: #4d4d4d;
  color: black;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
.bulletbox p {
  text-align: center;
  color: #999999;
}
.bulletbox i {
  display: block;
  padding: 0 auto;
  border: 0px solid red;
  width: auto;
  margin-bottom: 15px;
}
#big-statement {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: .0rem;
  text-transform: uppercasee;
  color: #4d4d4d;
  color: black;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
.bulletbox img {
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
  color: #4d4d4d;
  height: 40px;
  width: auto;
}
#small-statement {
  text-align: center;
  margin-bottom: 80px;
  font-size: 16px;
  color: #4d4d4d;
}
/* ------------------- */
#quote-container {
  margin: 0 auto;
  /*overflow: auto; */
  width: 100%;
  border: 0px solid green;
  background-color: #f7f7f7;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #e6e6e6;
  padding-top: 50px;
  padding-bottom: 50px;
}
#quote-container i {
  displayy: inline-block;
}
#quote-container h2 {
  font-family: 'Droid Serif', serif;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 32px;
  font-weight: 200;
  font-weight: normal;
  line-height: 28px;
  letter-spacing: .0rem;
  color: #3498db;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 0px;
}
#quote-container h3 {
  font-family: 'Droid Serif', serif;
  font-family: 'Raleway', sans-serif;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: .0rem;
  color: #4d4d4d;
  color: #555555;
  color: #464646;
  color: #636363;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 20px;
}
#quote-container h6 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  font-weight: 600;
  font-weight: bold;
  font-size: 16px;
  color: #4d4d4d;
}
#quote-container p {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: 400;
  font-size: 15px;
  color: #999999;
}
.quote-panels {
  margin: 0 auto;
  /*overflow: auto; */
  max-width: 1140px;
}
#quote-container .fa-quote-left {
  float: leftt;
  color: #e6e6e6;
  color: #3498db;
  margin: 0 auto;
  display: block;
}
#quote-container .fa-quote-right {
  float: right;
  color: #e6e6e6;
  color: #3498db;
  content: "";
  display: table;
  clear: both;
}
#quote-container imgg {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  height: 140px;
}
#quote-container i {
  text-align: center;
}
#ready {
  margin: 0 auto;
  /*overflow: auto; */
  width: 100%;
  border: 0px solid green;
  /*background-color: @super-light;*/
  padding-top: 50px;
  padding-bottom: 50px;
}
#ready h2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-heighttt: 38px;
  letter-spacing: .0rem;
  color: #4d4d4d;
  color: black;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
#ready p {
  text-align: center;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #4d4d4d;
}
#ready button {
  margin: 0 auto;
  display: block;
  margin-top: 50px;
  margin-bottom: 30px;
}
#ready a {
  text-decoration: none;
}
/* programs -------- */
.program-section {
  margin: 0 auto;
  /*overflow: auto; */
  width: 100%;
  border: 0px solid green;
  padding-top: 50px;
  padding-bottom: 50px;
}
#programs h2 {
  font-family: 'Raleway', sans-serif;
  text-align: centerr;
  font-size: 32px;
  font-weight: 500;
  line-heighttt: 38px;
  letter-spacing: .0rem;
  color: #4d4d4d;
  color: black;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
#programs h3 {
  font-family: 'Raleway', sans-serif;
  text-align: centerr;
  font-size: 24px;
  font-weight: 500;
  line-heighttt: 38px;
  letter-spacing: .0rem;
  color: #4d4d4d;
  color: black;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
  margin-top: 30px;
}
#programs p {
  color: #4d4d4d;
}
#programs li {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428;
  margin-top: 0;
  margin-bottom: 10px;
  color: #4d4d4d;
  list-style-type: square;
  text-align: left;
  margin-left: 20px;
}
#programs ul {
  padding-left: 0;
}
#programs hr {
  color: #e6e6e6;
  opacity: .3;
  background-color: redd;
  margin-bottom: 20px
	height: 4px;
}
#programs .button-primary {
  margin-top: 30px;
  margin-right: 50px;
  background-color: #3498db;
  border-color: #3498db;
  display: inline-block;
}
#programs table {
  margin-top: 30px;
}
#programs tr.title {
  background-color: #f7f7f7;
}
#business {
  margin-top: 60px;
}
#commercial {
  margin-top: 0px;
}
.example {
  border-left: 3px solid;
  border-color: #4d4d4d;
  padding-left: 20px;
  background-color: #f7f7f7;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  margin-top: 20px;
  border-left-color: #3498db;
}
#toc {
  width: 31.33333333%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
  width: 25.33333333%;
}
#toc a {
  width: 100%;
  background-color: bluee;
  float: left;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 2;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0 3%;
  margin: 0 1%;
  color: #999999;
  color: #707070;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  display: block;
  border-left: 3px solid;
  border-color: transparent;
}
#toc a:hover {
  border-left: 3px solid;
  border-color: #3498db;
}
#toc a.heading {
  font-size: 14px;
  color: black;
  font-weight: bold;
}
/* rates page -----------------------------*/
#tabs {
  margin-top: 0px;
}
#form-tabs {
  width: 33.33333333%;
}
#tabs-1 {
  padding: 0;
}
#tabs-2 {
  padding: 0;
}
.sidebar h6 {
  font-size: 12px;
}
.loan-input-margins {
  width: 48%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
  margin-bottom: 20px;
}
#loan_type_box {
  width: 48%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
  margin-bottom: 20px;
}
#user-tip {
  width: 98%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
  margin-left: 2%;
}
#credit-box {
  width: 98%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
}
/* added */
#circles-slider {
  width: 95%;
}
#zip_code_box {
  width: 48%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
  margin-bottom: 20px;
  background-color: yelloww;
}
#loan_balance_box {
  width: 48%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
  margin-bottom: 20px;
  content: "";
  display: table;
  clear: both;
}
#cash_out_box {
  width: 48%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
  margin-bottom: 20px;
  display: none;
}
#property_value_box {
  width: 48%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
  margin-bottom: 20px;
}
#down_payment_box {
  width: 48%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
  margin-bottom: 20px;
  content: "";
  display: table;
  clear: both;
  display: none;
}
#property_type_box {
  width: 48%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
  margin-bottom: 20px;
}
#la-box {
  width: 48%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
  margin-bottom: 20px;
}
#int-rate-box {
  width: 48%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
  margin-bottom: 20px;
}
#term-box {
  width: 48%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
  margin-bottom: 20px;
}
/*to style the color of the progress bar, see the ".ui-widget-header" class in the jquery css file*/
#progressbar {
  background: gray;
  height: 28px;
  border-radius: 4px;
  border: 0px;
  position: relative;
}
#progressbar h5 {
  position: absolute;
  top: 2px;
  margin-left: 10px;
  display: inline;
  color: #4d4d4d;
  color: white;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.dashboard {
  width: 31.33333333%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
  margin-top: 20px;
  margin-bottom: 30px;
}
.dashboard-payments {
  width: 31.33333333%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
  margin-top: 20px;
  margin-bottom: 30px;
}
.dashboard h5,
.dashboard-payments h5 {
  font-weight: normal;
  color: #4d4d4d;
  font-size: 14px;
  text-transform: capitalize;
}
#dollar,
#dollar-title {
  margin-left: 80px;
}
#la,
#st,
#ct,
#dollar,
.dashboard p,
.dashboard-payments p {
  color: #3498db;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
}
.dashboard-payments pp {
  font-size: 32px;
}
#dollar2 {
  font-weight: bold;
}
.mtg-info {
  width: 64.66666667%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
  width: 60.66666667%;
  margin-left: 3%;
  margin-right: 3%;
}
.mtg-info h3 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-heighttt: 38px;
  letter-spacing: .0rem;
  text-transform: uppercase;
  color: #4d4d4d;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
  font-size: 32px;
  text-align: left;
  text-transform: capitalize;
  color: black;
}
#resultsTable {
  width: 98%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
  content: "";
  display: table;
  clear: both;
  margin-bottom: 80px;
}
#calculator_results {
  width: 98%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
  content: "";
  display: table;
  clear: both;
}
#sorry {
  height: auto;
  float: left;
  width: 100%;
  display: none;
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 40px;
  background-color: #d9534f;
  border-left: 5px solid #d9534f;
  padding: 15px;
  background-color: rgba(217, 83, 79, 0.2);
  width: 90%;
}
#sorry h4 {
  color: #d9534f;
  font-weight: 600;
}
.fa-exclamation-triangle {
  colorr: #d9534f;
}
#header_row {
  visibility: hidden;
  border-bottom: 3px solid #ccc;
}
#payment {
  visibility: hidden;
  border: 0px solid green;
  float: left;
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  padding-top: 10px;
  border-bottom: 1px dashed gray;
}
#payment p {
  text-align: center;
}
#payment_heading {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 3px;
  color: #7d7d7d;
}
hr {
  color: #e6e6e6;
  opacity: .3;
  background-color: redd;
}
#new {
  font-weight: bold;
}
#id_loan_balance {
  display: block;
}
#down_payment_label {
  display: none;
}
#down_payment_field {
  display: none;
}
#cash_out_label {
  display: none;
}
#cash_out_field {
  display: none;
}
#header_row {
  visibility: hidden;
}
#first_row {
  visibility: hidden;
}
#tester {
  display: none;
}
.error-msg {
  background-color: rgba(217, 83, 79, 0.2);
  width: 90%;
  border-left: 3px solid #d9534f;
  padding: 5px;
}
#zcode {
  background-color: rgba(217, 83, 79, 0.2);
  width: 90%;
  border-left: 3px solid #d9534f;
  padding: 5px;
  content: "";
  display: table;
  clear: both;
}
.fa-exclamation-circle {
  color: redd;
}
#perf {
  background-color: rgba(217, 83, 79, 0.2);
  width: 90%;
  border-left: 3px solid #d9534f;
  padding: 5px;
  background-color: rgba(34, 181, 115, 0.2);
  border-left: 3px solid #22b573;
  display: none;
  content: "";
  display: table;
  clear: both;
}
#validation1 {
  /*.validation-fonts();*/
  background-color: rgba(217, 83, 79, 0.2);
  width: 90%;
  border-left: 3px solid #d9534f;
  padding: 5px;
  display: none;
  content: "";
  display: table;
  clear: both;
}
#validation2 {
  display: none;
  background-color: rgba(217, 83, 79, 0.2);
  width: 90%;
  border-left: 3px solid #d9534f;
  padding: 5px;
  content: "";
  display: table;
  clear: both;
}
#validation3 {
  display: none;
  background-color: rgba(217, 83, 79, 0.2);
  width: 90%;
  border-left: 3px solid #d9534f;
  padding: 5px;
  content: "";
  display: table;
  clear: both;
}
#validation4 {
  display: none;
  background-color: rgba(217, 83, 79, 0.2);
  width: 90%;
  border-left: 3px solid #d9534f;
  padding: 5px;
  content: "";
  display: table;
  clear: both;
}
#validation5 {
  display: none;
  background-color: rgba(217, 83, 79, 0.2);
  width: 90%;
  border-left: 3px solid #d9534f;
  padding: 5px;
  content: "";
  display: table;
  clear: both;
}
#validation6 {
  display: none;
  background-color: rgba(217, 83, 79, 0.2);
  width: 90%;
  border-left: 3px solid #d9534f;
  padding: 5px;
  content: "";
  display: table;
  clear: both;
}
#validation7 {
  display: none;
  background-color: rgba(217, 83, 79, 0.2);
  width: 90%;
  border-left: 3px solid #d9534f;
  padding: 5px;
  content: "";
  display: table;
  clear: both;
}
#validation8 {
  display: none;
  background-color: rgba(217, 83, 79, 0.2);
  width: 90%;
  border-left: 3px solid #d9534f;
  padding: 5px;
  content: "";
  display: table;
  clear: both;
}
#submission {
  padding-left: 10px;
  border-left: 4px solid;
  border-color: #3498db;
  display: none;
}
#loan-summary {
  display: none;
}
#inquiry:thanks {
  display: none;
}
/* loan programs */
#programs {
  width: 64.66666667%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
}
#program-links {
  width: 31.33333333%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
}
/* calculator sidebar */
.sidebar {
  width: 29.33333333%;
  padding: 0 2%;
  float: left;
  background-color: #eeeeee;
  padding-top: 30px;
  padding-bottom: 160px;
}
.sidebar2 {
  width: 29.33333333%;
  padding: 0 2%;
  float: left;
  background-color: #eeeeee;
  padding-top: 30px;
  padding-bottom: 160px;
  padding-bottom: 2000px;
}
/*sidebar Sticky Footer -------------------- */
/*http://getbootstrap.com/examples/sticky-footer-navbar/*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 310px;
  background-color: #333333;
}
.footer h5 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-heighttt: 38px;
  letter-spacing: .0rem;
  text-transform: uppercasee;
  color: #b3b3b3;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
.footer h6 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-heighttt: 38px;
  letter-spacing: .0rem;
  text-transform: uppercasee;
  color: white;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
.footer a:hover,
a:link,
a:visited,
a:active {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-heighttt: 38px;
  letter-spacing: .0rem;
  text-transform: uppercasee;
  color: #b3b3b3;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
.footer hr {
  width: 60%;
  height: 1pxx;
  color: #e6e6e6;
  color: #999999;
}
#copyright {
  display: inline-block;
}
#dc {
  display: inline-block;
  margin-left: 80px;
}
#nmls {
  display: inline-block;
  text-align: center;
}
#nmls_link {
  display: inline-block;
  margin-left: 20px;
  text-align: center;
}
.disclaimer {
  text-align: center;
  margin-bottom: 32px;
  margin-top: 15px;
  line-height: 24px;
}
.dyna-width {
  text-align: center;
  margin-bottom: 10px;
}
.dyna-width-equal {
  text-align: center;
  margin-bottom: 35px;
  margin-top: 20px;
}
#shield {
  height: 40px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  margin-top: 30px;
}
#hud {
  height: 15px;
  margin: 0 auto;
  display: inline-block;
  margin-left: 10px;
}
#equal {
  display: inline;
  margin-bottom: 10px;
}
.fa-certificate {
  color: white;
}
#nmls {
  margin-right: 00px;
  margin-left: 5px;
}
/* about */
#about {
  margin: 0 auto;
  /*overflow: auto; */
  max-width: 1140px;
  margin-top: 60px;
  padding-bottom: 60px;
}
.program {
  margin: 0 auto;
  /*overflow: auto; */
  max-width: 1140px;
  margin-top: 50px;
  padding-bottom: 40px;
  margin-left: 25px;
  margin-right: 25px;
}
.program a {
  color: blue;
  font-size: 16px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.program hr {
  margin-bottom: 40px;
  margin-top: 20px;
}
.program h2 {
  font-family: 'Raleway', sans-serif;
  text-align: left;
  font-size: 36px;
  font-weight: 400;
  line-heighttt: 38px;
  letter-spacing: .0rem;
  color: #4d4d4d;
  color: black;
  margin-bottom: 10px;
}
.program p {
  font-family: 'Droid Serif', serif;
  color: #4d4d4d;
  font-size: 16px;
  text-align: left;
}
.program li {
  font-familyy: 'Droid Serif', serif;
  color: #4d4d4d;
  font-size: 16px;
  line-height: 32px;
  text-align: left;
  margin-left: 20px;
  padding-left: 0;
  list-style-type: square;
  font-weight: normal;
}
.program ul {
  font-size: 16px;
  line-height: 32px;
  margin-left: 0;
  padding-left: 0;
}
.program .fa-building-o {
  color: #3498db;
  margin-right: 10px;
}
.program .fa-money {
  color: #3498db;
  margin-right: 10px;
}
.program .fa-flag {
  color: #3498db;
  margin-right: 10px;
}
.program .button-primary {
  margin-top: 30px;
  margin-right: 50px;
  background-color: #3498db;
  border-color: #3498db;
  display: inline-block;
}
.program {
  background-color: redd;
}
.program .tagline {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.428;
}
.program p,
.program h3,
.program h4,
.program li {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4d4d4d;
}
.program h3 {
  font-familyy: 'Raleway', sans-serif;
  text-align: cente;
  font-size: 24px;
  font-weight: 500;
  line-heighttt: 38px;
  letter-spacing: .0rem;
  color: #4d4d4d;
  color: black;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
  margin-top: 30px;
}
.program h4 {
  font-size: 16px;
  letter-spacing: normal;
  margin-top: 30px;
}
.program #example {
  margin-bottom: 25px;
}
.map-section {
  margin: 0 auto;
  /*overflow: auto; */
  width: 100%;
  border: 0px solid green;
  background-color: #f7f7f7;
  border: 1px solid;
  border-color: #e6e6e6;
  padding-top: 60px;
  padding-bottom: 60px;
}
#map {
  margin: 0 auto;
  /*overflow: auto; */
  max-width: 1140px;
}
#map img {
  margin: 0 auto;
  display: block;
  width: 75%;
  height: auto;
}
#about h2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  line-heighttt: 38px;
  letter-spacing: .0rem;
  color: #4d4d4d;
  color: black;
  margin-bottom: 25px;
}
#about p {
  font-family: 'Droid Serif', serif;
  color: #4d4d4d;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}
#map h2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  line-heighttt: 38px;
  letter-spacing: .0rem;
  color: #4d4d4d;
  color: black;
  margin-bottom: 25px;
}
#map p {
  font-family: 'Droid Serif', serif;
  color: #4d4d4d;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 50px;
}
/* application page */
#application-container {
  margin: 0 auto;
  /*overflow: auto; */
  width: 100%;
  border: 0px solid green;
  padding-top: 60px;
}
#application-container h2 {
  font-family: 'Raleway', sans-serif;
  text-alignn: center;
  font-size: 12px;
  font-weight: 600;
  line-heighttt: 38px;
  letter-spacing: .0rem;
  text-transformm: uppercase;
  color: #4d4d4d;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
  font-size: 36px;
  color: black;
}
#application-container h4 {
  font-family: 'Raleway', sans-serif;
  text-alignn: center;
  font-size: 12px;
  font-weight: 600;
  line-heighttt: 38px;
  letter-spacing: .0rem;
  text-transformm: uppercase;
  color: #4d4d4d;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
  font-size: 22px;
  color: black;
  font-weight: 500;
  content: "";
  display: table;
  clear: both;
  margin-top: 0px;
}
#application-container p {
  font-family: 'Droid Serif', serif;
  font-size: 15px;
  color: black;
}
.form-heading {
  width: 98%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
  width: 100%;
  margin: 0;
  margin-top: 20px;
}
.form-heading2 {
  width: 98%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
  width: 100%;
  margin: 0;
  margin-top: 20px;
}
.short-application {
  width: 64.66666667%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
  padding-top: 15px;
}
#loan_info_form .app-box {
  margin-bottom: 20px;
}
#section-end {
  content: "";
  display: table;
  clear: both;
}
#app-submit-btn {
  width: 48%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
  content: "";
  display: table;
  clear: both;
  margin-bottom: 40px;
}
#section2 {
  margin-top: 30px;
  content: "";
  display: table;
  clear: both;
}
#app-submit-btn button {
  width: 90%;
  margin-top: 30px;
}
.app-box {
  width: 48%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
}
#msg-box {
  width: 98%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
}
#contact-submit-btn {
  width: 98%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
}
#contact-submit-btn button {
  width: 96%;
}
.errorlist {
  border: 0px red solid;
  list-style-type: none;
  float: left;
  padding: 0;
  margin: 0;
  margin-top: 0px;
  margin-left: 0px;
  background-color: #d9534f;
  border-left: 5px solid #d9534f;
  padding: 15pxx;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5%;
  background-color: rgba(217, 83, 79, 0.2);
  width: 85%;
  color: #d9534f;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
}
.short-application p,
.short-application h2,
.short-application h4 {
  margin-left: 1%;
}
.short-application h4d {
  margin-top: 60px;
}
#loan-summary {
  width: 31.33333333%;
  background-color: bluee;
  margin: 0 1%;
  padding: 0 2%;
  float: left;
  width: 27.33333333%;
  background-color: #f7f7f7;
  padding-top: 15px;
  padding-bottom: 50px;
}
#loan-summary tr {
  border: none;
}
#loan-summary tr {
  line-height: 6px;
}
#loan-summary td {
  font-size: 14px;
}
#loan-summary table {
  border: none;
}
#loan-summary th {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-heighttt: 38px;
  letter-spacing: .0rem;
  text-transform: uppercase;
  color: #4d4d4d;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
  font-weight: bold;
  text-align: left;
  text-transform: capitalize;
  font-size: 13px;
  line-height: 0px;
}
#loan-summary th.section-th {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-heighttt: 38px;
  letter-spacing: .0rem;
  color: #4d4d4d;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  font-size: 13px;
  border-collapse: separate;
  padding-top: 30px;
  border-bottom: 1px dashed;
  border-color: #cccccc;
}
#loan-summary th.first-row {
  padding-top: 10px;
}
#loan-summary.header {
  font-weight: bold;
}
.heavy {
  height: 3px;
  border: none;
  background-color: #999999;
}
/* ---- Contact Us -- > */
.contactpg {
  background-color: #f7f7f7;
  margin: 0 auto;
  /*overflow: auto; */
  width: 100%;
  border: 0px solid green;
  content: "";
  display: table;
  clear: both;
}
#contact-us-page {
  margin: 0 auto;
  /*overflow: auto; */
  max-width: 1140px;
  padding-top: 60px;
  background-color: #f7f7f7;
}
#address-info {
  width: 48%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
  background-color: #f7f7f7;
}
#contact-section {
  width: 48%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
  padding-bottom: 40px;
  background-color: #f7f7f7;
}
.contact-input-box {
  width: 48%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
  margin-bottom: 20px;
}
#contact-us-page h4 {
  font-family: 'Raleway', sans-serif;
  text-alignn: center;
  font-size: 12px;
  font-weight: 600;
  line-heighttt: 38px;
  letter-spacing: .0rem;
  text-transformm: uppercase;
  color: #4d4d4d;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
  font-size: 22px;
  color: black;
  font-weight: 500;
}
#contact-us-page p {
  font-family: 'Droid Serif', serif;
  color: #4d4d4d;
  font-size: 15px;
  line-height: 28px;
  text-align: left;
  margin-bottom: 20px;
}
#contact-us-page h2 {
  font-family: 'Raleway', sans-serif;
  text-alignn: center;
  font-size: 12px;
  font-weight: 600;
  line-heighttt: 38px;
  letter-spacing: .0rem;
  text-transformm: uppercase;
  color: #4d4d4d;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
  font-size: 36px;
  color: black;
}
.contact-comment-box {
  width: 98%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
  margin-bottom: 20px;
}
#acknowledgement {
  padding-left: 10px;
  border-left: 4px solid;
  border-color: #3498db;
  padding-top: 2px;
}
/*for responsive design; height adjusts to maintain aspect ratio*/
img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */
}
.col100 {
  width: 100%;
  background-color: yelloww;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 1%;
  float: left;
}
.col1 {
  width: 6.33333333%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
}
.col2 {
  width: 14.66666667%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
}
.col3 {
  width: 23%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
}
.col4 {
  width: 31.33333333%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
}
.col5 {
  width: 39.66666667%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
}
.col6 {
  width: 48%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
}
.col7 {
  width: 56.33333333%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
}
.col8 {
  width: 64.66666667%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
}
.col9 {
  width: 73%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
}
.col10 {
  width: 81.33333333%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
}
.col11 {
  width: 89.66666667%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
}
.col12 {
  width: 98%;
  background-color: bluee;
  margin: 0 1%;
  float: left;
}
@media (max-width: 980px) {
  #form-tabs {
    width: 100%;
  }
  .sidebar,
  .sidebar2 {
    width: 90%;
    padding: 0 5%;
    margin-bottom: 20px;
    padding-bottom: 40px;
    padding-top: 30px;
  }
  .mtg-info {
    width: 98%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
  }
  #navicon {
    display: block;
    cursor: pointer;
    float: right;
  }
  #logo {
    margin-left: 10px;
  }
  #telephone {
    border-left: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-right: 8px;
  }
  #navbar button {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
  }
  #navbar ul {
    float: left;
    margin-top: 0px;
    width: 100%;
    border-left: none;
    display: none;
    height: 230px;
    margin-bottom: 10px;
  }
  /*prevents scrollbars from appearing on the responsive nav*/
  #navbar ul {
    overflow: hidden;
  }
  #navbar li {
    width: 100%;
    height: 40px;
  }
  #navbar ul a {
    display: block;
    width: 100%;
    text-align: left;
    text-decoration: none;
    line-height: 40px;
  }
  #navbar ul a:hover,
  ul a:active {
    background-color: #e6e6e6;
    height: 40px;
  }
  #loan-summary {
    width: 98%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
    width: 96%;
    margin: 0;
    padding: 5% 2%;
  }
  .short-application {
    width: 98%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
    float: right;
  }
  #application-container {
    padding-top: 0px;
  }
  .short-application {
    margin-bottom: 40px;
  }
  .icon-quote {
    width: 100%;
    text-align: center;
  }
  #quote-container h3 {
    content: "";
    display: table;
    clear: both;
    margin-top: 20px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
  }
  #quote-container h6,
  #quote-container p {
    content: "";
    display: table;
    clear: both;
    text-align: center;
    margin: 0 auto;
  }
  .fa-quote-left {
    display: inline-block;
    width: 100%;
  }
  #quote-container i {
    text-align: center;
  }
  .footer hr {
    width: 90%;
    height: 1pxx;
    color: #e6e6e6;
    color: #999999;
  }
  #dollar,
  #dollar-title {
    margin-left: 30px;
  }
}
@media (max-width: 768px) {
  .main-features {
    margin: 0 auto;
    /*overflow: auto; */
    width: 100%;
    border: 0px solid green;
    height: 800px;
    background-color: #f7f7f7;
  }
  .hero {
    padding-top: 100px;
  }
  .hero h1 {
    font-size: 60px;
    margin-bottom: 20px;
  }
  .hero h4 {
    font-size: 24px;
  }
  /* responsive table from Codepen */
  /* http://codepen.io/shahvaiz/pen/NqKJZv */
  #myTable {
    border: 0;
    margin-top: 20px;
  }
  #myTable thead {
    display: none;
  }
  #myTable #header_row {
    display: none;
  }
  #myTable tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
    border-topp: 2px solid;
    border-top-colorr: #3498db;
  }
  #myTable td {
    display: block;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
  }
  #myTable td:last-child {
    border-bottom: 0;
  }
  #myTable td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
  #amortization_table {
    display: none;
  }
  .dashboard {
    width: 31.33333333%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
    margin: 0 auto;
  }
  #address-info {
    width: 98%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
  }
  #contact-section {
    width: 98%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
  }
  .contact-input-box {
    width: 48%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
    margin-bottom: 20px;
  }
  #contact-us-page {
    margin: 0 auto;
    /*overflow: auto; */
    max-width: 1140px;
    padding-top: 20px;
  }
  #contact-us-page {
    padding-left: 3%;
    padding-right: 3%;
  }
  .feature-block {
    width: 98%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
    margin-bottom: 40px;
  }
  .bulletbox {
    width: 98%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
    margin-bottom: 40px;
  }
  #map img {
    margin: 0 auto;
    display: block;
    height: 500px;
    width: auto;
    width: 90%;
    height: auto;
  }
  #about p,
  #map p {
    padding-left: 4%;
    padding-right: 4%;
  }
  #toc {
    display: none;
  }
  #programs {
    width: 98%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
  }
  #qu-left {
    width: 98%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
    margin-bottom: 20px;
  }
  #qu-right {
    width: 98%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
    display: none;
  }
  #qu-center {
    width: 98%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
  }
  #quote-container i {
    margin: 0 auto;
    display: inline-block;
  }
  .program-section {
    /*overflow: auto; */
    width: 100%;
    border: 0px solid green;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 92%;
    margin: 0 auto;
    padding-left: 4%;
    padding-right: 4%;
  }
  .short-application {
    padding-top: 0px;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
  #submission {
    margin-top: 20px;
  }
  #quote-container {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0;
    margin-right: 0;
  }
  #quote-panels h6 {
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 480px) {
  #logo {
    height: 28px;
    width: auto;
    vertical-align: middle;
    margin-top: 23.5px;
  }
  .dashboard {
    width: 98%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 0 auto;
    width: 94%;
    padding-left: 3%;
    padding-right: 3%;
  }
  .mtg-info {
    width: 98%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 0 auto;
    width: 94%;
    padding-left: 3%;
    padding-right: 3%;
  }
  .loan-input-margins {
    width: 98%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
    margin-bottom: 20px;
  }
  #loan_type_box {
    width: 98%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
    margin-bottom: 20px;
  }
  #user-tip {
    clear: both;
  }
  /* added */
  #circles-slider {
    width: 90%;
  }
  #zip_code_box {
    width: 98%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
    margin-bottom: 20px;
    background-color: yelloww;
  }
  #loan_balance_box {
    width: 98%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
    margin-bottom: 20px;
    content: "";
    display: table;
    clear: both;
  }
  #cash_out_box {
    width: 98%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
    margin-bottom: 20px;
    display: none;
  }
  #property_value_box {
    width: 98%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
    margin-bottom: 20px;
  }
  #down_payment_box {
    width: 98%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
    margin-bottom: 20px;
    content: "";
    display: table;
    clear: both;
    display: none;
  }
  #property_type_box {
    width: 98%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
    margin-bottom: 20px;
  }
  #la-box {
    width: 98%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
    margin-bottom: 20px;
  }
  #int-rate-box {
    width: 98%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
    margin-bottom: 20px;
  }
  #term-box {
    width: 98%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
    margin-bottom: 20px;
  }
  .app-box {
    width: 98%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
  }
  #app-submit-btn {
    width: 98%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
  }
  .contact-input-box {
    width: 98%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
    margin-bottom: 20px;
  }
  #programs {
    width: 98%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
  }
  #dollar,
  #dollar-title {
    margin-left: 0px;
  }
  .dashboard-payments {
    width: 98%;
    background-color: bluee;
    margin: 0 1%;
    float: left;
    margin-bottom: 20px;
  }
  .dashboard-payments p,
  .dashboard-payments h5 {
    text-align: left;
    margin-left: 20px;
  }
  .slick-prev,
  .slick-next {
    display: none;
  }
  .quote-container h3 {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
