{% extends "fluid.html" %}
{% block title %}Conforming Residential Mortgages | Conventional Home Loans Vienna VA{% endblock %}
{% block description %}<meta name="description" content="Conforming residential mortgages include Conventional mortgages, FHA and VA loans. For conventional loans, the guidelines are established by Fannie Mae and Freddie Mac and all mortgages are insured by them. 100% financing home loans.">{% endblock %}
{% block canonical %}<link rel="canonical" href="https://www.bfgusa.com/bankstatement/" />{% endblock %}
{% load staticfiles %}
{% block content %}
<div class = "container-wide">
	<div class="program">
		<h2>Conforming Residential Mortgages</h2>
		<p>Conforming residential mortgages include Conventional mortgages, FHA and VA loans. For conventional loans, the guidelines are established by Fannie Mae and Freddie Mac and all mortgages are insured by them. Unlike conforming residential mortgages, <a href = '/programs'>commercial mortgages</a> provide loans for non-residential purposes. </p>
		<hr>
		<h3>Conventional Loans</h3>
		<!-- <p class = "example" id = "example"><i class="fa fa-building-o fa-2x" aria-hidden="true"></i>Conforming Loans</p> -->
		<p class = "example" id = "example">The guidelines for FHA loans are established by HUD and insured by them. The guidelines for VA loans are established by the Veterans Administration and are insured by them.</p>
		<ul>
      <li>Loans up to $453,100</li>
      <li>High Balance loans of $453,100 to $679,650 (depending on individual county limits)</li>
      <li>Ensured by Fannie Mae and Freddie Mac</li>
      <li>Interest rate depends on credit score and loan to value ratio</li>
      <li>Higher credit score and lower loan to value ratio results in a better interest rate. This is your risk factor.</li>
			<li>The minimum down payment is 5% for a primary residence</li>
    </ul>
		<hr>
		<h3>FHA Loans</h3>
		<!-- <p class = "example" id = "example"><i class="fa fa-building-o fa-2x" aria-hidden="true"></i>Conforming Loans</p> -->
		<p>FHA loans, which are insured by HUD, have a minimum down payment of 3.5%. However, the difference between conforming and FHA loans is that HUD requires an upfront mortgage insurance and a monthly mortage insurance premium, making it slightly more expensive than conforming loans. However, the guidelines for obtaining an FHA loan are more relaxed. FHA can accept lower credit scores as well. Like conforming loans, FHA loans also have a limit of $453,100 and depending on the counties there is a maximum high balance limit of $679,650.</p>
		<hr>
		<h3>VA Loans</h3>
		<!-- <p class = "example" id = "example"><i class="fa fa-building-o fa-2x" aria-hidden="true"></i>Conforming Loans</p> -->
		<p>Unlike other loans, VA loans allow 100% financing for a purchase or refinance. There is no down payment required. Likewise, you can refinance or get cash out with minimum requirements.</p>
		<a href="/application/"><button type="submit" class = "button-primary" type="button">Apply Now</button></a>
		<a href="/contact/"><button type="submit" class = "button-primary" type="button">Contact Us</button></a>
	</div><!--end of program-->
</div><!-- end end of container-wide -->

{% endblock %}
