{% extends "fluid.html" %}
{% block title %}Buying a new home - Home Buying Tips Vienna VA | MD | DC{% endblock %}
{% block description %}<meta name="description" content="Buying a new home is one the biggest decisions you will ever make, but it is also a lot easier than you might expect. Call (855) 548-0101 for a free mortgage consultation to get into your dream home.">{% endblock %}
{% block canonical %}<link rel="canonical" href="https://www.bfgusa.com/purchasenewhome" />{% endblock %}
{% load staticfiles %}

{% block content %}
<link href="https://fonts.googleapis.com/css?family=Muli:300,400,900" rel="stylesheet">
<style type="text/css">
.main-box {
    width: 603px;
	height: 100%;
	margin: 0 auto;	
}	
.blue-box {
	display: block;
	width: 603px;
	margin: 30px 0;
	padding: 10px 0;
	background-color: #006199;
}
.green-box {
	display: block;
	width: 603px;
	margin: 30px 0;
	padding: 10px 0;
	background-color: #a1ce57;
}
.teal-box {
	display: block;
	width: 603px;
	margin: 30px 0;
	padding: 10px 0;
	background-color: #238a8e;
}
#contentcontainer p {
	font-family: 'Muli', sans-serif !important;;
	font-weight: 400 !important;
	font-size: 14px !important;
	line-height: 1.5em !important;
	margin: 0 30px !important;	
}
#contentcontainer  ul {
	font-family: 'Muli', sans-serif !important;;
	font-weight: 400 !important;
	font-size: 14px !important;
	line-height: 1.5em !important;
	margin: 0 30px !important;
	color: #787c82 !important;
}
#contentcontainer li {
	font-family: 'Muli', sans-serif !important;;
	font-weight: 400 !important;
	font-size: 14px !important;
	line-height: 1.5em !important;
	margin: 0 30px !important;
	color: #787c82 !important;
}
h1 {
	font-family: 'Muli', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 17px;
	line-height: 1.4em;
	margin: 0 30px;
	color: #787c82;
	letter-spacing:0rem !important;
}
.head2 {
	font-family: 'Muli', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 1.4em;
	margin: 0 30px;
	color: #787c82;
}
.fine-print {
	font-family: 'Muli', sans-serif !important;
	font-weight: 300 !important;
	font-size: 8px !important;
	line-height: 1.4em;
	color: #787c82 !important;
}
</style>

<div class = "container-wide">
  <div class = "container-fixed">
    <div class="program" id="contentcontainer">
<div class="main-box">
<img src="{% static 'images/purchasenewhomeheader.png' %}" width="603" height="223" alt="Thinking about buying a new home?"/><br /><br />
	<h1 style="color: #238a8e;">BUYING VS. RENTING</h1><br />

<p>This may surprise you, but a monthly mortgage payment is often less than
what you might pay for rent. In fact, with just 1% down, you could save more
than $600/month on a $250,000 home purchase and avoid monthly
	mortgage insurance.</p><br />

	<p class="head2" style="color: #238a8e;">PURCHASE A $250,0000 HOME</p>
	<p class="head2" style="margin-left: 50px;"><span style="color: #238a8e;">BUY:</span> $1,597.85* (30-YEAR FIXED) <img src="{% static 'images/vs.png' %}" style="margin: 0 10px; vertical-align: middle;"><span style="color: #238a8e;">RENT:</span> $2,200 MONTHLY</p><br />

	<p class="fine-print" style="font-size: 10px !important;color: #787c82 !important;">*With the 1% Down program, the borrower puts down 1%, the lender contributes 2%, giving the borrower 3% equity at closing. The principal and interest payment on a $242,500 30-year Fixed-Rate Loan at 4.625% and 97% loan-to-value (LTV) is $1,285.35 with -1.153 points due at closing. The Annual Percentage Rate (APR) is 4.624%. The principal and interest payment does not include taxes and insurance premiums, which will result in a higher actual monthly payment. Taxes and insurance are estimated and will vary with each loan. *Includes estimated taxes and insurance. Pricing calculated on March 31, 2017.</p>
	
		<div class="blue-box"><h1 style="color: #FFFFFF;">5 Home buying myths</h1>
		<p style="color: #FFFFFF;">There are a lot of myths about buying a home that are easy to bust. <br />Here are a few of the big ones:</p>
		</div>
	
		<img src="{% static 'images/1.png' %}" style="display: block; float: left; vertical-align: middle; margin:0 10px 0 30px;"><p style="overflow: hidden;"><span class="head2" style="color: #006199; margin: 0;">I need a 20% down payment.</span> This goes back to the days when lenders had far fewer options. Now, you can get a mortgage for as little as 1% down and still have a low monthly payment.</p>
		<br />
		<img src="{% static 'images/2.png' %}" style="display: block; float: left; vertical-align: middle; margin:0 10px 0 30px;"><p style="overflow: hidden;"><span class="head2" style="color: #006199; margin: 0;">I have to dig up a lot of paperwork.</span> A lot goes into qualifying you for a mortgage, but these days much of the verification process — like collecting pay stubs, bank statements and tax information — can be done automatically by your mortgage broker and lender. </p>
		<br />
		<img src="{% static 'images/3.png' %}" style="display: block; float: left; vertical-align: middle; margin:0 10px 0 30px;"><p style="overflow: hidden;"><span class="head2" style="color: #006199; margin: 0;">It will take a lot of time.</span> A good mortgage broker can take your application and give you a pre-approval letter in minutes. Many even let you do it yourself online.</p>
		<br />
		<img src="{% static 'images/4.png' %}" style="display: block; float: left; vertical-align: middle; margin:0 10px 0 30px;"><p style="overflow: hidden;"><span class="head2" style="color: #006199; margin: 0;">My bank is the best place to get a mortgage.</span> Banks don't offer many mortgage choices. An independent mortgage broker in your local community can help you find the best options and the lowest rates.</p>
		<br />
		<img src="{% static 'images/5.png' %}" style="display: block; float: left; vertical-align: middle; margin:0 10px 0 30px;"><p style="overflow: hidden;"><span class="head2" style="color: #006199; margin: 0;">I need to be "settled down" first.</span> Even with a low down payment, monthly mortgage payments are often lower than rent prices. Plus when you buy a home, you're paying yourself, not your landlord.</p>
		
		<div class="green-box"><h1 style="color: #FFFFFF;">WHAT TO EXPECT DURING THE LOAN PROCESS</h1>
		<p style="color: #FFFFFF;">The mortgage process is pretty straightforward, but knowing what to expect will help everything go smoothly.</p>
		</div>
		
		<span class="head2" style="color:#a1ce57"><strong>STEP 1:</strong> ELECTRONIC LOAN APPLICATION AND DOCUMENT PACKAGE</span>
		<ul>
			<li>You'll receive a secure link to E-sign your documents, saving you valuable time.</li>
			<li>A Loan Estimate is included in this package. This is an itemized list of the fees that you may be charged for your home loan transaction. </li>
		</ul>
		<br />
		<span class="head2" style="color:#a1ce57"><strong>STEP 2:</strong> Loan Approval</span>
		<ul>
			<li>Once your loan application is reviewed, you may be asked for additional documentation.</li>
			<li>Return the requested documentation as quickly as possible.</li>
		</ul>
		<br />
		<span class="head2" style="color:#a1ce57"><strong>STEP 3:</strong> Appraisal</span>
		<ul>
			<li>A licensed appraiser will need to inspect the property and determine a value. (If your loan application receives a Property Inspection Waiver, no appraisal will be needed.)</li>
			<li>The appraisal cost is typically paid prior to the inspection. </li>
		</ul>
		<br />
		<span class="head2" style="color:#a1ce57"><strong>STEP 4:</strong> CLOSING DISCLOSURE </span>
		<ul>
			<li>This is the final list of fees that you will be charged for your loan. </li>
			<li>You will receive this document at least three days prior to your closing. </li>
		</ul>
		<br />
		<span class="head2" style="color:#a1ce57"><strong>STEP 5:</strong> VERBAL VERIFICATION OF EMPLOYMENT</span>
		<ul>
			<li>A call will be placed to your employer; it's important they respond promptly.</li>
		</ul>
		<br />
		<span class="head2" style="color:#a1ce57"><strong>STEP 6:</strong> FINAL CLOSING</span>
		<ul>
			<li>When your loan is fully approved, your employment has been verified, and you are ready to close on your home, we will schedule a convenient time to sign the final documentation.</li>
		</ul>
		<br />
		
		<div class="teal-box"><h1 style="color: #FFFFFF;">LET ME HELP YOU GET INTO YOUR DREAM HOME.<br />
			<span style="font-size: 24px;">CALL TODAY.</span></h1>
		</div>
	
	</div>	
	
 </div>
    </div> <!-- end of program-->
  </div>
{% endblock %}