{% extends "fluid.html" %}
{% block title %}Best Real Estate Agents Vienna VA | MD | DC{% endblock %}
{% block description %}<meta name="description" content="Our agents have years of real estate experience and are standing by to help you buy or sell your home. Call (855) 548-0101 and get the best deals on home loans.">{% endblock %}
{% block canonical %}<link rel="canonical" href="https://www.bfgusa.com/realtors" />{% endblock %}
{% load staticfiles %}

{% block content %}
<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet">
<style type="text/css">
body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.2em;
	color: #575757;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 32px;
	color: #006199;
}
h2 {
	font-family: 'Montserrat', sans-serif !important;
	text-transform: uppercase;
	font-size: 28px !important;
	line-height: 1.4em;
	color: #575757 !important;
}
h3 {
	font-family: 'Montserrat', sans-serif !important;
	text-transform: uppercase;
	font-size: 24px !important;
	line-height: 1.4em;
	color: #575757 !important;
}
.disclaimer {
	font-family: 'Roboto', sans-serif;
	font-size: 9px;
	color: #575757;
}
#contentcontainer p{
	font-family: 'Roboto', sans-serif !important;
	font-size: 14px !important;
	line-height: 1.5em !important;
	color: #787c82 !important;
}
#contentcontainer ul {
	font-family: 'Roboto', sans-serif !important;
	font-size: 14px !important;
	line-height: 1.5em !important;
	color: #787c82 !important;
}
#contentcontainer li {
	font-family: 'Roboto', sans-serif !important;
	font-size: 14px !important;
	line-height: 1.5em !important;
	color: #787c82 !important;
}
</style>
<div class = "container-wide">
  <div class = "container-fixed">
    <div class="program" id="contentcontainer">
<h1>REAL ESTATE AGENTS</h1>
<img src="{% static 'images/realtors.jpg' %}" width="898" height="250" alt="REAL ESTATE AGENTS"/>
<h2>BEST DEALS ON LOANS OF ANY KIND</h2>
<ul>
	<li>10 days or less from complete application to clear to close</li>
	<li>Same day underwriting for complete applications</li>
	<li>We are available 7 days a week from 9 am - 9 pm</li>
	<li>All incoming calls are taken live</li>
	<li>We communicate fully with our borrowers and realtors including Sundays</li>
<li>Rates are very competitive</li>
<li>Complete menu under the sun from standard FNMA, FDMC, FHA, VA, to alt QM and hard money</li>	</ul>
	<ul style="margin-left:20px !important;">	
	<li> No Income Loan</li>
	<li> Non-warrantable Condos </li>
	<li> Stated Income Loans</li>
	<li>Foreign Nationals</li>
	<li> Only Profit &amp; Loss Loans</li>
	<li> Diplomates</li>
	<li> ITIN (Individual Taxpayer Identification Number)</li>
	<li> Condotel Loans</li>	
	</ul>
	<ul>
<li>Loan amounts upto $5 million</li>
  </ul>    
<h3 style="color: #006199 !important;">BEST DEALS ON LOANS OF ANY KIND <br />
<span style="color: #F16F37">LOW RATES - REWARDS - REAL ESTATE DESIGNS</span></h3>
 </div>
    </div> <!-- end of program-->
  </div>
{% endblock %}