{% extends "fluid.html" %}
{% block title %}VA Loans - Best VA Home Loan Program Vienna VA | MD | DC{% endblock %}
{% block description %}<meta name="description" content="Designed to offer long-term financing to American veterans. Compare VA home loan options and calculate payment. Shop now with BFGUSA Vienna VA and get home loans with no down payment.">{% endblock %}
{% block canonical %}<link rel="canonical" href="https://www.bfgusa.com/valoans" />{% endblock %}
{% load staticfiles %}

{% block content %}
<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet">
<style type="text/css">
body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.2em;
	color: #575757;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 32px;
	color: #006199;
}
h2 {
	font-family: 'Montserrat', sans-serif !important;
	text-transform: uppercase;
	font-size: 28px !important;
	line-height: 1.4em;
	color: #575757 !important;
}
h3 {
	font-family: 'Montserrat', sans-serif !important;
	text-transform: uppercase;
	font-size: 24px !important;
	line-height: 1.4em;
	color: #575757 !important;
}
.disclaimer {
	font-family: 'Roboto', sans-serif;
	font-size: 9px;
	color: #575757;
}
#contentcontainer p{
	font-family: 'Roboto', sans-serif !important;
	font-size: 14px !important;
	line-height: 1.5em !important;
	color: #787c82 !important;
}
#contentcontainer ul {
	font-family: 'Roboto', sans-serif !important;
	font-size: 14px !important;
	line-height: 1.5em !important;
	color: #787c82 !important;
}
#contentcontainer li {
	font-family: 'Roboto', sans-serif !important;
	font-size: 14px !important;
	line-height: 1.5em !important;
	color: #787c82 !important;
}
</style>

<div class = "container-wide">
  <div class = "container-fixed">
    <div class="program" id="contentcontainer">
<h1>VA LOANS</h1>
<img src="{% static 'images/valoans.jpg' %}" width="898" height="250" alt="VA LOANS"/>
<h2>BUCKINGHAM LOVES OUR VETERANS</h2>
  <ul>
	<li>Unlimited Cash-out up to 90 LTV</li>
	<li>Min FICO score 620</li>
	<li>700 FICO for over $1 million</li>
	<li>100 purchase for VA loan limits to appraisal</li>
  </ul>
    <p>The VA home loan program helps our service men and women become homeowners. We are exited and honored to be able to give back to those who serve and defend our country in the armed services. You have earned it.</p>
<h3> 
<span style="color: #006199">PROUD TO OFFER THE BEST RATES TO AMERICA'S HEROS.</span></h3>
 </div>
    </div> <!-- end of program-->
  </div>
{% endblock %}