{% extends "fluid.html" %}
{% block title %}Best Home Loan Lenders Vienna VA | Commercial Loans - BFGUSA{% endblock %}
{% block description %}<meta name="description" content="BFGUSA offers exceptional mortgage banking services for its residential, commercial, and business clients. Our strong lender relationships allow us to tailor niche loan programs for hard-to-fund loans.">{% endblock %}
{% block canonical %}<link rel="canonical" href="https://www.bfgusa.com/about/" />{% endblock %}
{% load staticfiles %}
{% block content %}
<div class = "container-wide">
	<div id = "about">
		<h2>About Us</h2>
		<p>Buckingham Financiall Group was created from the vision of its founders to provide exceptional mortgage banking services for its residential, commercial, and business clients. Our strong lender relationships allow us to tailor niche loan programs for hard-to-fund loans. Our clientele ranges from high-end boutiques to credit challenged consumers. Personalized, in-home consultations allow us to understand our client's scenarios and provide exceptional banking services.</p>
	</div>
</div>

<div class = "map-section">
	<div id = "map">
		<!--h2>We are expanding</h2>
		<p>BFG was founded in Maryland and has a strong presence in the MD, VA, and DC regions. We are expanding to several states including California, New York, and Connecticut.</p-->
		<img id = "usa" src="{% static 'images/bare-usa.png' %}">
	</div>
</div>



</div><!-- end end of container-wide -->

{% endblock %}
