{% extends "fluid.html" %}
{% block title %}Foreign National Loans | Foreign National Mortgages Vienna VA{% endblock %}
{% block description %}<meta name="description" content="Financing for Diplomats or Foreign Nationals require specialized loans which are not offered by Fannie Mae, Freddie Mac, HUD, or VA. These programs are not offered by all banks or investors. The institutions which do offer these loans set their own guidelines.">{% endblock %}
{% block canonical %}<link rel="canonical" href="https://www.bfgusa.com/foreignnational/" />{% endblock %}
{% load staticfiles %}
{% block content %}
<div class = "container-wide">
	<div class ="container-fixed">
		<div class="program">
			<h2>Foreign National Borrower Programs</h2>

			<p>Financing for Diplomats or Foreign Nationals require specialized loans which are not offered by Fannie Mae, Freddie Mac, HUD, or VA. These programs are not offered by all banks or investors. The institutions which do offer these loans set their own guidelines.</p>
			<ul>
	      <li>Maximum loans amounts of $2 Million.</li>
	      <li>Maximum loan to value ratio of 70%</li>
	      <li>Passports only to qualify </li>
	      <li>International credit from current financial institution</li>
				<li>Down payment and reserves must be in US banks</li>
				<li>Debt to income ratio of 50%</li>
				<li>Interest only option available</li>
				<li>12 Month Bank Statment program available</li>
				<li>Full Documentation loans available</li>
				</ul>

				<hr>
				<h2>Diplomats</h2>
		    <ul>
		      <li>Maximum loan amounts of $900,000</li>
		      <li>Maximum loan to value ratio of 70% </li>
					<li>Established credit in the US required</li>
					<li>Down payment and other related expenses must be in US banks</li>
    		</ul>

				 <a href="https://www.blink.mortgage/app/signup/p/bfgusa" target="_blank"><button type="submit" class = "button-primary" type="button">Apply Now</button></a>
				<a href="/contact/"><button type="submit" class = "button-primary" type="button">Contact Us</button></a>

			</div>
		</div>



</div><!-- end end of container-wide -->

{% endblock %}
