{% extends "fluid.html" %}
{% block title %}Stated Income Loans | No Income Loans | Easy Home Loans Vienna VA{% endblock %}
{% block description %}<meta name="description" content="The Stated Income / No-Income doc program is ideal for those who are self-employed and cannot qualify or document their income via tax returns, pay stubs and W2s. Loans for Investment Properties, Cashout Refinancing.">{% endblock %}
{% block canonical %}<link rel="canonical" href="https://www.bfgusa.com/investor/" />{% endblock %}
{% load staticfiles %}
{% block content %}
<div class = "container-wide">
  <div class = "container-fixed">
    <div class="program">
      <h2>Stated Income / No-Income</h2>
      <p>State Income / No-Income loans are specialized loans which fall outside of Fannie Mae and Freddie Mac guidelines. Although this program is not offered by all banks or investors, they are still regulated by federal and state agencies. The Stated Income / No-Income doc program is ideal for those who are self-employed and cannot qualify or document their income via tax returns, pay stubs and W2s. In the case of seasoned investors, we do not require any income documents, including bank statements, for the cash out of investment properties. </p>
      <p class = "example">Your interest rates will depend upon your credit score and loan to value ratio. Your income is derived from the past 12 months of deposits, ideally which should be regular in pattern. Higher credit scores and lower LTVs results in better rates. However, we do accept credit scores as low as 640, although lower credit scores may affect the loan to value ratio. In some cases, we can accept credit scores as low as 600, although this will also affect the loan to value and interest rate.</p>
      <!-- <div class = "col12"> -->

        <!-- <div class = "col12"> -->
          <h4>Purchase & Refinance of Primary Residences.</h4>
          <p>This program does not require any income documents such as tax returns, pay stubs, W2s, and/or Profit and Loss statements. The income calculation for this loan is based on the average of 12 months of person bank statement deposits or 12 months of business bank deposits. Personal and business accounts cannot be combined. The maximum loan amount is $3,000,000 and unlimited cash out up to $2,000,000.</p>

        <!-- </div> -->
        <!-- <div class = "col12"> -->
          <h4>Purchase & Refinance of Investment properties.</h4>
          <p>Similar, but even better than Primary Residence programs, this program does not require any income documentation such as tax returns, pay stubs, W2s or Profit and Loss statements - even Bank Statements are not required. The income is calculated through the rental lease and Debt Coverage Ratio (DCR). The maximum loan amount is $3,000,000 and unlimited cash out up to $2,000,000.</p>

          <h3>Example</h3>
          <!-- <p class = "example" id = "example"><i class="fa fa-building-o fa-2x" aria-hidden="true"></i>Conforming Loans</p> -->
          <p class = "example" id = "example">If the PITI is $5,000, then the mortgage payment cannot exceed $5,000. The DTI in this scenario would be 100%.</p>




        <!-- </div> -->
      <!-- </div> -->

          <!-- <div class = "col12"> -->
            <h4>Verification of Employment (VOE) Program</h4>
            <p>This program offers a Loan-to-Value (LTV) ratio of 75% for purchases and 70% for refinances and cash-out refinances. Only written and verbal verification of employment will be obtained. <b>That is it and no other income documents are required.</b> The minimum credit score is 650. Interest rates for this program are approximately 6.75%.</p>
          <!-- </div> -->

      <!-- <div class = "col12"> -->
        <!-- <div class = "col6"> -->
          <h4>Cashout Refinance of Investment Properties.</h4>
          <p>For seasoned investors, this program does not require any income documents such as tax returns, pay stubs, W2s or Profit and Loss Statements. In addition, the program does not even require any bank statements. The debt to income ratio is calculated from the rental lease and debt coverage ratio (DCR). The DTI goes up to 100%. The maximum loan amount is $3,000,000 and unlimited cash out up to $2,000,000.</p>

        <!-- </div> -->

        <!-- <div class = "col12"> -->
          <h4>Stated Income Loans</h4>
          <p>The Income is stated on the loan application (1003) and should correlate with the latest one month of bank statements and the pattern of deposits. There should be no NSF transactions and the ending balance should be positive. The credit score requirement is a minimum of 700 with no derogatory reports. There should be an LTV of 75% of purchase and 70% for refinance/cashout refinance. The maximum loan amount is $3,000,000 and unlimited cash out up to $2,000,000.</p>
          <h3>Example</h3>
          <!-- <p class = "example" id = "example"><i class="fa fa-building-o fa-2x" aria-hidden="true"></i>Conforming Loans</p> -->
          <p class = "example" id = "example">If the income stated on the loan application is $5,000 / month, then the pattern of deposits in the bank statement provided should be similar.</p>




        <!-- </div> -->





      <!-- </div> -->


      <!-- <div class = "col12"> -->


        <!-- <div class = "col6"> -->
            <h4>No Income Loans</h4>
            <p>No Income Doc loans do not require any paystubs, tax returns, or W2s. The borrower must be self-employed and require 12 months of bank statements. The DTI is calculated based on net deposits. This is a multi-tier program. The rates depend on the credit score and LTV. The maximum loan amount is $3,000,000 and unlimited cash out up to $2,000,000.</p>
        <!-- </div>

        <div class = "col12"> -->
         <h4>Bankruptcy, Foreclosure and Modifications.</h4>
         <p>For homeowners one day out of bankruptcy, foreclosure, or modifications, we can fund the loan either with full documenation and /or under bank statements programs. The rates are comparatively higher than a good credit program.</p>

     <!-- </div> -->
      <!-- </div> -->




    <hr>
      <!-- <div class = "col12"> -->
        <!-- <div class = "col6"> -->
          <h2>Investment Properties (Stated / No-Income)</h2>
          <ul>
            <li>No income doc (i.e. paystubs, tax returns or W2s are not required)</li>
            <li>No bank statements required</li>
            <li>The loans is based on rental lease and the debt coverage ratio (DCR)</li>
            <li>LTV of 80% is required</li>
            <li>Minimum credit score of 620</li>
            <li>DTI of 100%</li>
          </ul>

          <h3>Example</h3>
      		<!-- <p class = "example" id = "example"><i class="fa fa-building-o fa-2x" aria-hidden="true"></i>Conforming Loans</p> -->
      		<p class = "example" id = "example">The mortgage payment (PITI) should be equal or less than the monthly rental payment or appraisal rental value.</p>
        <!-- </div>

  <div class = "col12"> -->
      		<h4>Purchases</h4>
      		<!-- <p class = "example" id = "example"><i class="fa fa-building-o fa-2x" aria-hidden="true"></i>Conforming Loans</p> -->
      		<p>In addition to the above, one month of bank statements are required to show the funds to close. Credit scores less than 620 are considered on a case by case basis.</p>

   <!-- </div> -->
      <!-- </div> -->
<!--
<div class = "col12"> -->
      <!-- <div class = "col6"> -->
        <h4>Transactions for low credit scores of 600.</h4>
        <p>For borrowers with lower credit scores, we require 24 months of bank statements. We will calculate the debt to income ratio from the average deposits of 24 months. This could be either personal or business deposits, but these cannot be combined.</p>

      <!-- </div> -->
    <!-- </div> -->

       <a href="https://www.blink.mortgage/app/signup/p/bfgusa" target="_blank"><button type="submit" class = "button-primary" type="button">Apply Now</button></a>
      <a href="/contact/"><button type="submit" class = "button-primary" type="button">Contact Us</button></a>
            </div>
    </div> <!-- end of program-->
  </div>


{% endblock %}
