{% extends "fluid.html" %}
{% block title %}Loan Pricing - Buckingham Financial Group{% endblock %}
{% load staticfiles %}
{% block content %}
<div class = "container-wide">
	<div class="program">

		<h2>Jumbo Loans</h2>
		<p class = "example" id = "example"><i class="fa fa-building-o fa-2x" aria-hidden="true"></i>Conforming Loans</p>

    <p>Any loan amount above the county limit (in many counties it is $636,350) are Jumbo Loans. The guidelines for jumbo loans are established by individual investors/banks. However, the general guidelines are as follows. </p>
    <ul>Highlights</ul>
      <li>Loans amounts up to $1 Million</li>
      <li>Loan amounts up to $1.5 Million</li>
      <li>Loan Amounts up to $2.5 Million</li>
      <li>Loan Amounts from $3 to $6 Million.</li>
      <li>The different guidelines for the above categories require differnet criteria. The credit score also determines the loan to value permissible. The highest loan amount has the highest loan to value, such as as loan amounts of $3 to $6 Million, which has a maximum loan to value requirement of 55%. Whereas loan amounts up to $1.5 could have loan to values as high as 95%.</li>
			<li>Jumbo loans can be offered for secondy homes, and in some cases, for investment properties, however the credit score and LTV requirements may be different.</li>



    </ul>
	</div>

	<div class="program">

		<h2>FHA Loans</h2>
		<p class = "example" id = "example"><i class="fa fa-building-o fa-2x" aria-hidden="true"></i>Conforming Loans</p>

		<p>FHA loans, which are insured by HUD, have a minimum down payment of 3.5%. However, the difference between conforming and FHA loans is that HUD requires an upfront mortgage insurance and a monthly mortage insurance premium, making it a little bit more expensive versus conforming loans. However, the guidelines of obtaining an FHA loan is more relaxed. FHA can accept lower credit scores as well. Like conforming loans, FHA loans also have a limit of $424,100 and depending on the counties there is a maximum high balance limit fo $636,350.</p>




		</ul>
	</div>

	<div class="program">

		<h2>VA Loans</h2>
		<p class = "example" id = "example"><i class="fa fa-building-o fa-2x" aria-hidden="true"></i>Conforming Loans</p>

		<p>Unlike another loans, this loan allows 100% financing for a purchase or refinance. There is no down payment required. Likewise, you can refinance or get cash out with minimum requirements.</p>


				 <a href="https://www.blink.mortgage/app/signup/p/bfgusa" target="_blank"><button type="submit" class = "button-primary" type="button">Apply Now</button></a>
				<a href="/contact/"><button type="submit" class = "button-primary" type="button">Contact Us</button></a>

		</ul>
	</div>
</div>

</div><!-- end end of container-wide -->

{% endblock %}
