{% extends "fluid.html" %}
{% block title %}No Income Program for Self Employed Borrowers Vienna VA | MD | DC{% endblock %}
<!-- {% block styles_additional %}<link rel="stylesheet/less" type="text/css" href="'{'% static 'css/style_landing.css' %'}'" />{% endblock %} -->
{% block description %}<meta name="description" content="These programs are for people who are homeless or who have low or no income. We accept credit scores as low as 620, LTV up to 80% & loan amount offered up to $3 million. Call 855.548.0101 for more details.">{% endblock %}
{% block canonical %}<link rel="canonical" href="https://www.bfgusa.com/noincome/" />{% endblock %}
{% load staticfiles %}
{% block content %}
<div class = "container-wide">

		<div class = "hero-land">
  <h1 class="shield"><img alt="" src="{% static 'images/bg/bfg_web_logo_vector.svg' %}"/></h1>
  <div class="container-wide">
    <h1 class="bottom">How Our No Income Programs Work</h1>
  </div>
</div>
<div class="container-wide white">
  <div class="container-fixed">
    <h2>Primary Residence Purchase or Cash-Out</h2>
      <p class="pink">This program is a true No Income Program for self-employed borrowers. </p>
      <p>It does not require W2, paystubs or tax returns. However in lieu of income documents, we will require 12 months of bank statements (personal or business). The loan amount is based on the average deposits over 12 months. We accept credit scores as low as 620, LTV up to 80%, &amp; loan amount offered up to $3 million.</p>

    <p class="example"> <strong>EXAMPLE: </strong>12 months deposits = $100,000 ÷ 12 = $8,333.33 monthly income</p>
<p>&nbsp;</p>
    <p><a href ="tel:8555480101">
      <button class = "button">Call Us Now at 1-855-548-0101</button>
      </a></p>
  </div>
</div>
<div class="container-wide grey">
  <div class="container-fixed">
    <h2>Investment Property Purchase or Cash-out</h2>
      <p class="pink">Similar, but even better than Primary Residence programs.</p>
      <p>This program does not require any income documentation such as tax returns, pay stubs, W2s or Profit and Loss statements - even Bank Statements are not required. The income is calculated through the rental lease and Debt Coverage Ratio (DCR). The maximum loan amount is $3,000,000 and unlimited cash out up to $2,000,000.</p>
    <p class="example"><strong>EXAMPLE: </strong>If the PITI is $5,000, then the mortgage payment cannot exceed $5,000. The DTI in this scenario would be 100%. </p>
    <p >&nbsp;</p>
    <p ><a href ="tel:8555480101">
      <button class = "button">Call Us Now at 1-855-548-0101</button>
      </a></p>
  </div>
</div>
<div class="container-wide white">
  <div class="container-fixed">
    <h2>Stated Income</h2>
    <p class="pink"> As the name suggests, this stated income program is a true No Income Verification Program.</p>
      <p>No Pay stubs, W2 or tax return required. This program requires latest one month bank statement, and minimum credit score of 700 with no negatives.</p>
    <p>Ideal for self-employed borrower where the tax returns do not support and reflect the true income. </p>
    <p>The income must be stated on application and should be support by the transaction in the bank statements provided. </p>
    <p>The loan amount offered is up to $3 million and the LTV goes to 70% for purchase and 65% for refi/cashout.</p>
    <p class="example"><strong>EXAMPLE:</strong> If the income stated on the loan application is $5,000 / month, then the pattern of deposits in the bank statement provided should be similar.</p>
    <p>&nbsp;</p>
    <p><a href ="tel:8555480101">
      <button class = "button">Call Us Now at 1-855-548-0101</button>
      </a></p>
  </div>
</div>

<!-- end of quote container -->

<!--div class = "footer">
  <div class= "container-wide">
    <div class = "container-fixed"> <img id = "shield" src="{% static 'images/bg/shield.png' %}">
      <div class = "dyna-width"> <i class="fa fa-certificate fa-lg"></i>
        <h5 id = "nmls">NMLS #1124970</h5>
        <a href = "http://www.nmlsconsumeraccess.org" target="_blank" id = "nmls_link">www.nmlsconsumeraccess.org</a></div>
      <div class = "dyna-width">
        <h5 id = "equal">BFG is an Equal Housing Lender<span><img id = "hud" src="{% static 'images/bg/fheo100.png'% }"></span></h5>
      </div>
      <h5 class = "disclaimer">All rate quotes are estimates and are subject to change. Rate quotes are not binding.<br>
        Programs are on a case by case basis. Certain restrictions apply.</h5>
      <hr>
      <div class = "dyna-width">
        <h6 id = "copyright">Copyright 2018 Buckingham Financial Group, LLC</h6>
        <h6 id = "dc">Built in Washington, DC</h6>
      </div>
    </div>
    <!-- end of container fixed -->
  </div>
  <!-- end of conatiner wide -->
</div-->




</div><!-- end end of container-wide -->

{% endblock %}
