{% extends "fluid.html" %}
{% block title %}Conventional 1% Down with Equity Boost{% endblock %}
{% block description %}<meta name="description" content="Apply for your new home loan or refinance an existing mortgage in Vienna VA. We offer many lending options with great rates and exceptional service. Call (855) 548-0101 for a free mortgage consultation.">{% endblock %}
{% block canonical %}<link rel="canonical" href="https://www.bfgusa.com/esign" />{% endblock %}
{% load staticfiles %}

{% block content %}
<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet">
<style type="text/css">
body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.2em;
	color: #575757;
}
h1 {
	font-family: 'Montserrat', sans-serif !important;
	text-transform: uppercase;
	font-size: 32px !important;
	line-height: 1.4em;
	color: #F16F37 !important;
}
h2 {
	font-family: 'Montserrat', sans-serif !important;
	text-transform: uppercase;
	font-size: 28px !important;
	line-height: 1.4em;
	color: #575757 !important;
}
h3 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 1.4em;
	color: #575757;
}
#contentcontainer p{
	font-family: 'Roboto', sans-serif !important;
	font-size: 14px !important;
	line-height: 1.5em !important;
	color: #787c82 !important;
}
#contentcontainer ul {
	font-family: 'Roboto', sans-serif !important;
	font-size: 14px !important;
	line-height: 1.5em !important;
	color: #787c82 !important;
}
#contentcontainer li {
	font-family: 'Roboto', sans-serif !important;
	font-size: 14px !important;
	line-height: 1.5em !important;
	color: #787c82 !important;
}
</style>

<div class = "container-wide">
  <div class = "container-fixed">
    <div class="program" id="contentcontainer">
<h1>GET A FASTER, EASIER MORTGAGE OR REFINANCE WITHOUT THE HASSLE OF GATHERING FINANCIAL DOCUMENTS</h1>
<img src="{% static 'images/Doc-Less_BOR.jpg' %}" width="513" height="179" alt="Conventional 1% Down Loan Program"/>
<h2>Here's how it works:</h2>
<ul>
	<li>You simply e-sign your loan documents</li>
	<li>We verify your income, assets and tax returns</li>
	<li>We notify you when your loan is approved</li>
  </ul>
    
<h3>GO DOC-LESS TODAY!<br />
<span style="color: #F16F37">FIND OUT HOW MUCH EASIER GETTING A MORTGAGE CAN BE</span></h3>

 </div>
    </div> <!-- end of program-->
  </div>
{% endblock %}