{% extends "fluid.html" %}
{% block title %}Come home to the experts.{% endblock %}
{% block description %}<meta name="description" content="Apply for your new home loan or refinance an existing mortgage in Vienna VA. We offer many lending options with great rates and exceptional service. Call (855) 548-0101 for a free mortgage consultation.">{% endblock %}
{% block canonical %}<link rel="canonical" href="https://www.bfgusa.com/homeexperts" />{% endblock %}
{% load staticfiles %}

{% block content %}
<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet">
<style type="text/css">
body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.2em;
	color: #575757;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 32px;
	color: #006199;
}
h2 {
	font-family: 'Montserrat', sans-serif !important;
	text-transform: uppercase;
	font-size: 28px !important;
	line-height: 1.4em;
	color: #575757 !important; 
}
h3 {
	font-family: 'Montserrat', sans-serif !important;
	text-transform: uppercase;
	font-size: 24px !important;
	line-height: 1.4em;
	color: #575757 !important;
}
.disclaimer {
	font-family: 'Roboto', sans-serif;
	font-size: 9px;
	color: #575757;
}
#contentcontainer p{
	font-family: 'Roboto', sans-serif !important;
	font-size: 14px !important;
	line-height: 1.5em !important;
	color: #787c82 !important;
}
#contentcontainer ul {
	font-family: 'Roboto', sans-serif !important;
	font-size: 14px !important;
	line-height: 1.5em !important;
	color: #787c82 !important;
}
#contentcontainer li {
	font-family: 'Roboto', sans-serif !important;
	font-size: 14px !important;
	line-height: 1.5em !important;
	color: #787c82 !important;
}
</style>

<div class = "container-wide">
  <div class = "container-fixed">
    <div class="program" id="contentcontainer">
<h1>Deciding where to go for your next home loan?</h1>
<img src="{% static 'images/HOME.png' %}" width="898" height="179" alt="Come home to the experts."/>
<h2>WE'RE LICENSED MORTGAGE PROFESSIONALS, AND HOME TO SO MUCH MORE THAN WHAT BIG BANKS OFFER.</h2>
<ul>
	<li>Lower rates and cheaper costs</li>
	<li>Partnership with hundreds of lenders to shop for your best deal</li>
	<li>Multiple loan products to choose from, not just two or three</li>
	<li>Closing in 30 days or less</li>
	<li>Specialize in mortgages and refis</li>

  </ul>
    
<h3>For your next home loan, work with someone who works on your behalf. <br />
<span style="color: #006199">Come home to the experts.</span></h3>
	
 </div>
    </div> <!-- end of program-->
  </div>
{% endblock %}